.contact{
   padding: 50px 0;
   text-align: center;
   &__form{
      width: 100%;
      margin-bottom: 10px;
   }
   &__list{
      margin-bottom: 15px;
   }
   &__icon{
      margin-right: 5px;
      color: $hover;
      transition: all .3s ease;
   }
   &__item{
      cursor: pointer;
   }
   &__link{
      font-weight: 700;
      color: rgba(51, 51, 51, 0.5);
   }
   &__text{
      height: 50px;
      resize: none;
   }
}

@media (min-width: $tablet) {
   .contact{
      padding: 100px 0;
      &__input{
         width: 33%;
      }
      &__text{
         @include size(100%, 120px);
      }
      &__info{
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      &__btn{
         @include size(50%, 60px);
      }
      &__list{
         display: flex;
         flex-wrap: wrap;
         width: 50%;
         margin-bottom: 0;
      }
      &__item{
         margin: 0 20px 5px 0;
      }
      &__link{
         transition: all .3s ease;
         &:hover{
            color: $hover;
            .contact__icon{
               color: rgba(51, 51, 51, 0.5);
            }
         }
      }
   }
}