.fancybox {
   &__list {
      display: flex;
      justify-content: space-between;
      font-size: 0;
      flex-wrap: wrap;
      width: 100%;
   }
   &__item {
      width: 50%;
      display: block;
      position: relative;
      cursor: pointer;
   }
   &__img {
      @include size(100%);
      display: block;
   }
}

@media (min-width: $tablet) {
   .fancybox {
      &__item {
         width: 25%;
         &:hover {
            &::before {
               background: rgba(0, 0, 0, 0);
            }
         }
         &::before {
            @include size(100%);
            @include pos($t: 0, $l: 0, $r: 0, $b: 0);
            content: "";
            background: rgba(0, 0, 0, 0.5);
            transition: all 0.3s ease;
            pointer-events: none;
         }
      }
   }
}
