.btn {
   display: flex;
   justify-content: center;
   &__item {
      @include size(120px, 50px);
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      margin: 0 20px;
      line-height: 50px;
      transition: all 0.3s ease;

      &--active {
         background: $hover;
         color: #fff;
      }

      &:hover {
         background: $hover;
         color: #fff;
      }
   }
}

@media (min-width: 375px) {
   .btn {
      &__item {
         width: 150px;
      }
   }
}
