.form {
   &__items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   &__text,
   &__select {
      width: 100%;
      background: $form;
      border-radius: 5px;
      padding: 15px 20px;
      margin-bottom: 10px;
   }

   &__btn {
      background: $hover;
      width: 100%;
      padding: 15px;
      border-radius: 5px;
      transition: all 0.3s ease;
      position: relative;
      &::before {
         @include size(0%, 100%);
         @include pos($t: 0, $l: 0);
         content: "";
         background: #cfb013;
         border-radius: 5px;
         transition: all 0.5s ease;
      }
      &:hover {
         &::before {
            @include size(100%);
         }
      }
      &--span {
         font-weight: 700;
         font-size: 12px;
         color: #fff;
         text-transform: uppercase;
         position: relative;
         transition: all 0.3s ease;
      }
   }
}

@media (min-width: $mobile) {
   .form {
      &__text,
      &__select {
         width: 49%;
      }
   }
}

@media (min-width: $tablet) {
   .form {
      width: 45%;
      margin-right: 70px;
   }
}
